@import "@material/card/mdc-card";
@import "@material/elevation/mdc-elevation";
@import "@material/layout-grid/mdc-layout-grid";

html,
body {
  height: 100%;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    flex-direction: row;
  }
}

.my-drawer {
  position: relative;
  text-align: center;
  margin: auto {
    top: 1em;
    bottom: 1em;
  }

  .my-avatar {
    max-height: 100px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.my-content {
  @include mdc-elevation(4);

  background: $mdc-theme-surface;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  flex-grow: 1;

  display: block;
  z-index: 0;

  overflow: hidden;

  .my-content__wrapper {
    height: 100%;
    overflow: auto;
  }

  &::before {
    display: block;
    height: 12px;
    content: "";
  }
}

.experience-item {
  margin-block-start: 1rem;
}