@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/card/mdc-card";

html,
body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

.my-drawer {
  width: 400px;
  height: auto;
  z-index: 0;
  background: $my-theme-drawer-background;

  .my-drawer__header {
    margin-top: 3em;
    text-align: center;
  }
}

.my-avatar {
  width: 50%;
  max-height: 400px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.resume-body {
  @include mdc-elevation(4);

  width: 100%;

  display: block;
  overflow: auto;
  z-index: 0;
}

.experience-item {
  margin-block-start: 1rem;
}

.topic-secondary,
.topic-detail {
  color: mdc-theme-prop-value(text-primary-on-background);
  margin: 0;
}

.topic-primary {
  margin: 0;
}

.topic-title::before {
  display: block;
  content: "";
  margin-block-start: 0.5em;
}
