@import "@material/layout-grid/mdc-layout-grid";

body {
  //   flex-direction: column;

  scroll-snap-type: y mandatory;

  @media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
    display: flex;
    flex-direction: row;
  }
}

header {
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;

  padding: {
    top: 10vh;
    right: 12px;
    bottom: 10vh;
    left: 12px;
  }

  scroll-snap-align: start;

  p {
    padding: {
      top: 1em;
      bottom: 3em;
    }
    margin: {
      right: auto;
      left: auto;
    }
    text-align: justify;
  }
}

main {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;

  scroll-snap-align: start;

  @media print {
   font-size: 12px; 
  }
}
